@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply relative max-w-7xl mx-auto  bg-white-800 dark:bg-black-900 text-black-900 dark:text-white-900 sm:px-8 px-6;
	font-family: "Inter", "roboto", sans-serif;
}

.page {
	@apply relative min-h-screen w-full;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
